.env
__pycache__/
*.py[cod]
*$py.class
*.python-version

*.log
*/dump.rdb
*/celerybeat-schedule.bak
*/celerybeat-schedule.dir
*/celerybeat-schedule.dat
instruction.txt


# Ignore virtual environments
*.venv
.env/
.vscode/
.idea/


**/migrations/*.pyc